/*fullContainer */
#task2PageContainer{
    display: flex;
    border: solid orange;

    height: 70vh;
    width: 100%;
}
/*arvhicecontainer */
#todoComplete{
    display: flex;
    width: 50%;
    border: 2px solid pink;
}

#archiveContainer{
    border: solid red;
    height: 100%;
    width: 100%;
    color: white;
    flex-direction: column;
    font-size: xx-large;

}
#archive{
    color: white;
    font-size: xx-large;
}

/*Todolist */
#todoBox{
    border: purple solid;
    width: 50%;
}
.todoBtn{
    color: white;
    background-color: black;

    border: 0;
    width: 75px;
    height: 75px;
 
    font-size: xx-large;
}
#checkTodo{
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 10px;

}
#deleteTodo{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 10px;

}
.todoBtnPics{
    height: 80px;
    width: 80px;
    background-color: none;
}
#todoListBox{
    border: solid green;
    width: 600px;
    height: 600px;

    margin-top: 100px;
}

#addTodoBtn{
    height: 100px;
    width: 100px;
    background-color: black;
    color: white;
    border: 0;

    font-size: xx-large;
}

.inputBar {
    background-color: black; 
}


#archiveBtn{
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    border: 0;

    font-size: xx-large;
}

#list{
    color: white;
    font-size: xx-large;
}
#listcontainer{
    border: solid red;
    height: 100%;
    color: white;
    flex-direction: column;
    font-size: xx-large;


}