#todoBox{
    border: purple solid;
    width: 70%;
    
    
}
.todoBtn{
    color: white;
    background-color: black;

    border: 0;
    width: 75px;
    height: 75px;
 
    font-size: xx-large;

}
#checkTodo{
    background-color: green;
   border-radius: 100px;
 

}
#deleteTodo{
    background-color: red;
    border-radius: 100px;

}
.todoBtnPics{
    height: 80px;
    width: 80px;
    background-color: none;
  
}
#todoListBox{
    border: solid green;
    width: 600px;
    height: 600px;

    margin-top: 100px;
}

#addTodoBtn{
    height: 100px;
    width: 100px;
    background-color: black;
    color: white;
    border: 0;

    font-size: xx-large;
}

#list{
    color: white;
    font-size: xx-large;
}
#listcontainer{
    border: solid red;
    height: 100%;
    color: white;
    flex-direction: column;
    font-size: xx-large;


}