.Hotbar{
display: flex;
height: 80px;
width: 100%;
position: fixed;
top: 0;
z-index: 5;
}

.btn.active{
    /*
    background-color: rgb(117, 117, 190);
    */
    background-color:rgb(153, 153, 1);

}
.btn{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 20%;
    height: 100%;
    font-size: large;
    border: 0;

}



